---
import { getLangFromUrl, useTranslation } from "@/i18n";

interface Props {
  showTitle?: boolean;
  showCta?: boolean;
}

const { showTitle = true, showCta = true } = Astro.props;

const lang = getLangFromUrl(Astro.url);
const i18n = await useTranslation(lang);
---

<section class="py-20 px-6">
  <div class="max-w-7xl mx-auto flex flex-col items-center gap-12">
    {
      showTitle && (
        <h2 class="text-3xl font-bold self-start">{i18n.STRATEGIC.TITLE}</h2>
      )
    }

    <div class="flex flex-wrap justify-around w-full">
      {
        i18n.NAVBAR[2].MORE?.map((item: any) => (
          <a
            data-aos="zoom-in"
            href={`/${lang}/${item.HREF}`}
            class="w-52 aspect-square rounded-full border-18 border-[var(--color-primary)] flex items-center justify-center"
          >
            <p class="text-2xl italic font-bold text-center px-4">
              {item.TITLE}
            </p>
          </a>
        ))
      }
    </div>

    {
      showCta && (
        <a
          href={`/${lang}/Join`}
          class="bg-[var(--color-primary)] hover:bg-black !text-white text-sm italic font-bold px-10 py-4 transition-colors duration-300"
        >
          {i18n.STRATEGIC.CTA}
        </a>
      )
    }
  </div>
</section>
