---
interface Props {
  title: string;
  description: string;
  image: string;
  slug: string;
  lang: string;
  readMoreText: string;
}

const { title, description, image, slug, lang, readMoreText } = Astro.props;
---

<div
  class="flex flex-col lg:h-[600px] bg-white shadow-lg overflow-hidden hover:shadow-xl transition-shadow"
>
  <img loading="lazy" src={image} alt={title} class="w-full aspect-square object-cover" />
  <div class="flex flex-col justify-between flex-1 p-3 gap-3">
    <div class="flex flex-col gap-3">
      <h3 class="!text-lg lg:!text-xl italic font-semibold">{title}</h3>
      <p class="text-gray-600 !text-sm lg:!text-base">{description}</p>
    </div>
    <a
      href={`/${lang}/News/${slug}`}
      class="!text-[var(--color-primary)] text-left"
    >
      {readMoreText}
    </a>
  </div>
</div>
