---
import { getLangFromUrl, useTranslation } from "@/i18n";

const currentYear = new Date().getFullYear();
const lang = getLangFromUrl(Astro.url);
const i18n = await useTranslation(lang);
---

<div class="bg-[#f5f5f5]">
  <div class="max-w-7xl mx-auto">
    <div class="flex flex-col lg:flex-row items-center justify-between gap-2">
      {
        i18n.FOOTER.LOGOS.map((logo: any) => (
          <a href={logo.HREF} class="flex flex-row gap-2 p-6">
            <img
              src={logo.IMG}
              alt={logo.TITLE}
              title={logo.TITLE}
              class="h-16 w-auto object-contain"
            />
          </a>
        ))
      }
    </div>
  </div>
</div>
<footer class="bg-black !text-white text-sm p-6">
  <div
    class="max-w-7xl mx-auto flex flex-col lg:flex-row gap-5 text-center lg:text-left"
  >
    <div class="flex flex-col gap-2 flex-1">
      <h3 class="!text-white font-semibold text-lg">{i18n.FOOTER.TITLE_1}</h3>
      <ul class="flex flex-col items-center lg:items-start gap-2">
        {
          i18n.CONTACT.ELEMENTS.map((items: any) => (
            <li class="flex flex-row gap-2">
              <p class="!text-white italic">{items.TYPE}:</p>
              <a href={items.HREF} class="!text-white italic">
                {items.DATA}
              </a>
            </li>
          ))
        }
      </ul>
    </div>
    <div class="flex flex-col gap-2 flex-1">
      <h3 class="!text-white font-semibold text-lg">{i18n.FOOTER.TITLE_2}</h3>
      <p class="!text-white italic">{i18n.FOOTER.DIRECTION}</p>
    </div>
    <ul class="flex flex-col gap-2 flex-1 lg:items-end">
      {
        i18n.FOOTER.POLICIES.map((policy: any) => (
          <li>
            <a class="!text-white italic" target="_blank" href={policy.HREF}>
              {policy.TITLE}
            </a>
          </li>
        ))
      }
    </ul>
  </div>
  <p class="text-center !text-white italic mt-8">
    Copyright © {currentYear}
    {i18n.FOOTER.COPYRIGHT}
  </p>
</footer>
