---
import { getLangFromUrl } from "@/i18n";
import { getCollection } from "astro:content";
import CardNews from "@/components/CardNews.astro";

interface Props {
  CONTENT: {
    TITLE?: string;
    DESCRIPTION?: string;
    BUTTON_1?: string;
    HREF_1?: string;
    BUTTON_2?: string;
    HREF_2?: string;
  };
  tag?: string;
}

const { CONTENT, tag } = Astro.props;
const lang = getLangFromUrl(Astro.url);

let filteredNews: any[] = [];
if (tag) {
  const collectionName = `news-${lang}` as "news-es" | "news-en";
  const allNews = await getCollection(collectionName);
  filteredNews = allNews.filter((news) => {
    const newsCategories = Array.isArray(news.data.category)
      ? news.data.category
      : [news.data.category];
    return newsCategories.includes(tag);
  });
}
---
<!-- py-20  -->
<section class="py-48 px-6">
  <div class=`max-w-7xl mx-auto flex flex-col gap-6 items-start`>
    {CONTENT.TITLE && <h2 set:html={CONTENT.TITLE} />}
    {CONTENT.DESCRIPTION && <p set:html={CONTENT.DESCRIPTION} />}
    {
      CONTENT.BUTTON_1 && CONTENT.HREF_1 && (
        <a
          href={`/${lang}/${CONTENT.HREF_1}`}
          class="bg-[var(--color-primary)] mx-auto lg:mx-0 hover:bg-gray-600 !text-white text-sm italic font-bold px-10 py-4 transition-colors duration-300"
        >
          {CONTENT.BUTTON_1}
        </a>
      )
    }
    <!-- {
      filteredNews.length > 0 && (
        <div class="w-full">
          <div class="splide carousel-global">
            <div class="splide__track">
              <ul class="splide__list !pt-10 !pb-16">
                {filteredNews.map((news) => (
                  <li class="splide__slide">
                    <CardNews
                      title={news.data.title}
                      description={news.data.description}
                      image={news.data.image}
                      slug={news.id.replace(".md", "")}
                      lang={lang}
                    />
                  </li>
                ))}
              </ul>
            </div>
          </div>
        </div>
      )
    } -->
    {
      CONTENT.BUTTON_2 && CONTENT.HREF_2 && (
        <a
          href={`/${lang}/${CONTENT.HREF_2}`}
          class="bg-[var(--color-primary)] hover:bg-gray-600 mx-auto !text-white text-sm italic font-bold px-10 py-4 transition-colors duration-300"
        >
          {CONTENT.BUTTON_2}
        </a>
      )
    }
  </div>
</section>

<script>
  import { Splide } from "@splidejs/splide";
  import "@splidejs/splide/css";

  document.addEventListener("DOMContentLoaded", () => {
    const carousels = document.querySelectorAll(".carousel-global");
    carousels.forEach((carousel: Element) => {
      new Splide(carousel as HTMLElement, {
        type: "loop",
        perPage: 3,
        perMove: 1,
        gap: "1rem",
        breakpoints: {
          1024: { perPage: 2 },
          768: { perPage: 1 },
        },
      }).mount();
    });
  });
</script>

<style>
  .splide__slide {
    height: auto;
  }
</style>
