---
import { getLangFromUrl } from "@/i18n";

interface Props {
  CONTENT: {
    IMG?: string;
    ALT?: string;
    TITLE?: string;
    SUBTITLE?: string;
    DESCRIPTION?: string;
    TAGS?: { TITLE: string; HREF: string }[];
  };
  REVERSE?: boolean;
}

const { CONTENT, REVERSE = false } = Astro.props;
const lang = getLangFromUrl(Astro.url);
---

<section class="py-20 px-6">
  <div
    class={`max-w-7xl mx-auto flex flex-col gap-6 items-center ${REVERSE ? "lg:flex-row-reverse" : "lg:flex-row"}`}
  >
    <!-- Columna texto -->
    <div class="flex flex-col w-full lg:w-2/3 gap-6">
      {CONTENT.TITLE && <h2 set:html={CONTENT.TITLE} />}

      {
        CONTENT.SUBTITLE && (
          <p
            class="bg-black !text-white italic px-5 py-2 rounded-full w-fit"
            set:html={CONTENT.SUBTITLE}
          />
        )
      }

      {CONTENT.DESCRIPTION && <p set:html={CONTENT.DESCRIPTION} />}

      {
        CONTENT.TAGS && CONTENT.TAGS.length > 0 && (
          <div class="flex flex-wrap items-center justify-center lg:justify-start gap-6 mt-2">
            {CONTENT.TAGS.map((tag) => (
              <a
                href={tag.HREF ? `/${lang}/${tag.HREF}` : "#"}
                class="border-2 bg-[var(--color-primary)] !text-white italic px-5 py-2 rounded-full"
              >
                {tag.TITLE}
              </a>
            ))}
          </div>
        )
      }
    </div>

    <!-- Columna imagen -->
    {
      CONTENT.IMG && (
        <div class="w-full lg:w-1/3 rounded-lg overflow-hidden">
          <img
            loading="lazy"
            src={CONTENT.IMG}
            alt={CONTENT.ALT ?? "image"}
            class="w-full h-full object-cover"
          />
        </div>
      )
    }
  </div>
</section>
